services:
  - type: web
    name: courtesychain
    env: python
    plan: starter
    buildCommand: "bash build.sh"
    startCommand: "gunicorn CourtesyChain_Project.wsgi:application"
    healthCheckPath: "/api/health/"
    envVars:
      - key: PYTHON_VERSION
        value: 3.13.0
      - key: DEBUG
        value: "False"
      - key: SECRET_KEY
        sync: false
      - key: DATABASE_URL
        sync: false
      - key: ALLOWED_HOSTS
        sync: false
      - key: CSRF_TRUSTED_ORIGINS
        sync: false
      - key: EMAIL_HOST_USER
        sync: false
      - key: EMAIL_HOST_PASSWORD
        sync: false
      - key: CONTACT_EMAIL_RECIPIENT
        sync: false
